@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6; /* gray-100 */
}

.sidebar-link {
    transition: all 0.3s ease;
}

.sidebar-link:hover, .sidebar-link.active {
    background-color: #4f46e5; /* indigo-600 */
    color: white;
}

#sidebar.collapsed {
    margin-left: -16rem; /* 16rem adalah lebar sidebar (w-64) */
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
